html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto+Mono:ital,wght@1,300&family=Satisfy&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Joan&family=Satisfy&display=swap');
}